elm_comp/elm-stuff/0.19.1/d.dat
elm_comp/elm-stuff/0.19.1/i.dat
elm_comp/elm-stuff/0.19.1/Language.elmi
elm_comp/elm-stuff/0.19.1/Language.elmo
elm_comp/elm-stuff/0.19.1/Lexer.elmi
elm_comp/elm-stuff/0.19.1/Lexer.elmo
elm_comp/elm-stuff/0.19.1/lock
elm_comp/elm-stuff/0.19.1/Main.elmi
elm_comp/elm-stuff/0.19.1/Main.elmo
elm_comp/elm-stuff/0.19.1/o.dat
elm_comp/elm-stuff/0.19.1/Pallete.elmi
elm_comp/elm-stuff/0.19.1/Pallete.elmo
elm_comp/elm-stuff/0.19.1/Parser.elmi
elm_comp/elm-stuff/0.19.1/Parser.elmo
elm_comp/elm-stuff/0.19.1/Util.elmi
elm_comp/elm-stuff/0.19.1/Util.elmo
elm_comp/src/.gitignore
